body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/17/56/wall-1846841_1280.jpg");
    margin: 0;
    height: 100vh;
    /* 100% de la altura de la viewport */
    background-size: cover;
    /* Cubre toda el área, recortando si es necesario */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

.container {
    position: relative;
    height: 90vh;
    width: 120vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/11/05/12/08/chalkboard-517818_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(10px 10px 4px #1f1f1fce);
}

.tasks-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

span {
    color: white;
    font-size: 2rem;
}

li {
    color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    border: 1px solid #ffffff98;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);

}

li::marker {
    opacity: 0;
}

.hidden {
    opacity: 0;
}

ol {
    padding: 0;
}

h1 {
    font-size: 6rem;
    color: white;
    padding: 0;
    margin-bottom: 5px;
}

h2 {
    color: white;
}

p {
    cursor: pointer;
    font-size: 1.5rem;
}

.tasks-counter>p {
    color: rgb(0, 0, 0);
    cursor: default;
}

path:hover {
    color: #000000;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.list li button {
    float: right;
    /* O flex: 0 1 auto; dentro de un contenedor flex */
}

.list li {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos a ambos extremos */
    align-items: center;
    /* Centra los elementos verticalmente */
}

input {
    color: white;
    background: 0;
    border: 0;
    outline: none;
    width: 100vw;
    max-width: 400px;
    font-size: 2rem;
    transition: padding 0.3s 0.2s ease-in-out;

    &:focus {
        padding-bottom: 5px;
    }


    &:focus+.line {
        &:after {
            transform: scaleX(1);
        }
    }
}

.field {
    position: relative;

    .line {
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -8px;
        background: #ffffff;

        &:after {
            content: " ";
            position: absolute;
            float: right;
            width: 100%;
            height: 3px;

            transform: scalex(0);
            transition: transform 0.3s ease-in-out;

            background: #000000;
        }
    }
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgb(255, 255, 255);
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/